In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import igraph as ig
import random
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go

import warnings
warnings.filterwarnings('ignore')

In [3]:
# read csv

# steam_200K
df = pd.read_csv("../Untitled Folder/steam_200k.csv", names=['UserID', 'Game', 'Action', 'Hours', 'Other'])

# all_games
df1 = pd.read_csv("../Untitled Folder/all_games.csv",encoding='utf-8')
df1.columns = ['Name', 'Platform', 'Year', 'summary', 'meta_score', 'user_review']
df1 = df1.drop(['summary'], axis = 1)
all_games_data = df1.query("Year>=2000")

# vssales_year
df2 = pd.read_csv("../Untitled Folder/vgsales_year.csv",encoding='utf-8')
df2 = df2.drop(['Rank'], axis = 1)
vgsales_year_data = df2.query("Year>=2000")
vgsales_year_data = df2.drop(['Year'], axis = 1)

#Video_Games_as_at_22_Dec_2016
df3 = pd.read_csv("../Untitled Folder/Video_Games_Sales_as_at_22_Dec_2016.csv",encoding='utf-8')
Video_Games_Sales_as_at_22_Dec_2016_data = df3.query("Year_of_Release>=2000")

In [11]:
merge_data1 = pd.merge(all_games_data, vgsales_year_data, on=['Name', 'Platform'], how='left')
merge_data1.fillna(0)
merge_data1

,Name,Platform,Year,meta_score,user_review,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Tony Hawk's Pro Skater 2,PS,2000,98,7.4,Sports,Activision,3.05,1.41,0.02,0.20,4.68
1,Grand Theft Auto IV,PS3,2008,98,7.7,Action,Take-Two Interactive,4.76,3.76,0.44,1.62,10.57
2,Grand Theft Auto IV,X360,2008,98,7.9,Action,Take-Two Interactive,6.76,3.10,0.14,1.03,11.02
3,Super Mario Galaxy,Wii,2007,97,9.1,Platform,Nintendo,6.16,3.40,1.20,0.76,11.52
4,Super Mario Galaxy 2,Wii,2010,97,9.1,Platform,Nintendo,3.66,2.42,0.98,0.64,7.69
...,...,...,...,...,...,...,...,...,...,...,...,...
18619,Fast & Furious: Showdown,X360,2013,22,1.3,Action,Activision,0.00,0.04,0.00,0.00,0.05
18620,Drake of the 99 Dragons,XB,2003,22,1.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18621,Afro Samurai 2: Revenge of Kuma Volume One,PS4,2015,21,2.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18622,Infestation: Survivor Stories (The War Z),PC,2012,20,1.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18623,Leisure Suit Larry: Box Office Bust,PC,2009,20,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
temp = merge_data1.drop(['Publisher'], axis = 1)
grouptemp = temp.groupby(['Platform'])
grouptemp.info()

AttributeError: 'DataFrameGroupBy' object has no attribute 'info'